{{#partial "content"}}
    <div class="container">
        <h2 class="text-center"><strong>Add Squad</strong></h2>

        <form action="/squads/new" method="post">
            <div class="form-group">
                <label class="active " for="squadName">Squad Name</label>
                <input id="squadName" name="squadName" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label class="active" for="maxSize">Squad Size</label>
                <input id="maxSize" name="maxSize" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label class="active" for="squadCause">Squad Cause</label>
                <input id="squadCause" name="squadCause" type="text" class="form-control">
            </div>

            <button type="submit" class=" btn btn-success" >Add Squad </button>
        </form>
    </div>



{{/partial}}
{{>layout.hbs}}