<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Heroes{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/app.css">
</head>
<body class="main text-white">

<nav class="navbar navbar-inverse text-white">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/images/shield.svg" width="40px" height="30px" ></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="">New Squad</a></li>
            <li><a href="">New Hero</a></li>

        </ul>

    </div>
</nav>


<!--begin main template-->
<div class="col-md-12">
    {{#block "content"}}

    {{/block}}

</div>

{{#block "footer"}}
    </body>
    </html>
{{/block}}