{{#partial "content"}}
    <h1 class="text-center text-white">Squad List!</h1>
    <div class="text-center text-white">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Squad: {{squad.squadName}}</h5>
                <p class="card-text">Maximum squad number: {{squad.maxSize}}</p>
                <p>Sqaud Cause: {{squad.squadCause}}</p>
            </div>
        </div>>
    </div>

{{/partial}}
{{> layout.hbs}}